<?xml version="1.0" encoding="utf-8" ?>
<Subscriptions>

	<Subscription title="Subscription A" accountName="demo" accountKey="{Account Key}">
		<Roles>
			<Role name="WebSite" instances="2">
				<PerformanceCounters>
					<PerformanceCounterConfiguration counterSpecifier="\Processor(_Total)\% Processor Time" />
					<PerformanceCounterConfiguration counterSpecifier="\Memory\Available MBytes" />
					<PerformanceCounterConfiguration counterSpecifier="\ASP.NET Applications(__Total__)\Requests/Sec" />
				</PerformanceCounters>
			</Role>
		</Roles>
	</Subscription>

	<Subscription title="Subscription B" accountName="demo2" accountKey="{Account Key}">
		<Roles>
			<Role name="WebSite" instances="2">
				<PerformanceCounters>
					<PerformanceCounterConfiguration counterSpecifier="\Processor(_Total)\% Processor Time" />
					<PerformanceCounterConfiguration counterSpecifier="\Memory\Available MBytes" />
					<PerformanceCounterConfiguration counterSpecifier="\ASP.NET Applications(__Total__)\Requests/Sec" />
				</PerformanceCounters>
			</Role>
			<Role name="BackOffice" instances="1">
				<PerformanceCounters>
					<PerformanceCounterConfiguration counterSpecifier="\Processor(_Total)\% Processor Time" />
					<PerformanceCounterConfiguration counterSpecifier="\Memory\Available MBytes" />
				</PerformanceCounters>
			</Role>
		</Roles>
	</Subscription>

</Subscriptions>